<tr>
  <th class="bg-white align-middle text-left" >
    <%= link_to trip_path(trip), data: { turbo_frame: "modal"} do  %>
      <%= trip.name %>
    <% end %>
  </th>
  <td class="bg-white align-middle text-left" ><%= trip.car.vehicle %></td>
  <td class="bg-white align-middle text-left" ><%= trip.date.strftime("%B %d, %Y") %></td>
  <td class="bg-white" >
    <div class="d-flex justify-content-end">
      <div class="badge bg-primary rounded-pill fs-5 m-2 p-2" style="height: fit-content;">
          <strong><i class="fa-solid fa-coins fa-lg mx-1 my-2"></i> <%= trip.reward_point   %></strong>
        </div>
      </div>
    </div>
  </td>
</tr>
