<tr>
  <th class="bg-white align-middle">
    <%= link_to trip_path(trip), data: { turbo_frame: "modal"} do  %>
      <p style="color:#575E60;text-align:left;"><%= trip.name %></p>
    <% end %>
  </th>
  <td class="bg-white align-middle"><p style="color:#575E60;text-align:left;"><%= trip.car.vehicle %></p></td>
  <td class="bg-white align-middle" ><p style="color:#575E60;text-align:left;"><%= trip.date.strftime("%B %d, %Y") %></p></td>
  <td class="bg-white" >
    <div class="d-flex justify-content-end">
      <div class="badge bg-primary rounded-pill fs-5 m-2 p-2" style="height: fit-content;">
          <strong><i class="fa-solid fa-coins fa-lg mx-1 my-2"></i> <%= trip.reward_point   %></strong>
        </div>
      </div>
    </div>
  </td>
</tr>
