<div class="container">
  <div class="m-4">
    <!-- Title with Trip Count -->
    <div class="point-calculator d-flex justify-content-between">
      <h2><strong><span class="main-title">My</span><span class="accent-title">Trips</span></strong></h2>
      <p>You have made <%= @trips.count %> trips in the last month and you have <%= @total_points.sum %> points! </p>
      <%= link_to "Add a trip", new_trip_path, class: "btn btn-warning rounded-4" %>
    </div>
    <hr>
    <br>
    <br>
    <!-- Display all the trips -->
    <div class="position-relative p-4 bg-white rounded-4 shadow-lg">
      <div class="d-flex flex-row-reverse">
        <%# collection_select(object, method, collection, value_method, text_method, options = {}, html_options = {}) %>
        <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
        <%= collection_select :car, :vehicle, @cars, :id, :vehicle,
          { prompt: "Select a vehicle" }, { class: "form-control ms-5" }
        %>
        <%= submit_tag "filter", name: "", class: "btn btn-warning rounded-4 ms-5" %>
        <%= link_to "reset", trips_path, class: "btn rounded-4"%>
        <% end %>

      </div>
      <table class="table table-hover mt-4">
        <thead>
          <tr >
            <th class="bg-white" scope="col">Trips</th>
            <th class="bg-white" scope="col">Car</th>
            <th class="bg-white" scope="col">Date</th>
            <th class="bg-white" scope="col">
              <div>

                TotalPoints
                <div class="mx-3 rounded-4 px-2 py-1 orange-pill">
                  <%= @total_points.sum * 50 %>
                  <i class="fa-solid fa-coins"></i>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @trips.each do |trip| %>
          <%= render partial: 'trip', locals: { trip: trip } %>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
