<h1 class="title text-center">
  <span class="main-title">What's </span><span class="accent-title">next trip?</span>
</h1>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="form-container col-md-6">
      <%= simple_form_for [@user, @trip], data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :name,
            as: :string,
            placeholder: "Name your trip...",
            label: "Trip Name"%>
        <%= f.input :car_id,
                    label: "Car",
                    as: :radio_buttons,
                    input_html: {
                      class: "tag-selector",
                      },
                    item_wrapper_class: 'tag-item' ,
                    collection: current_user.cars.map { |car| [car.vehicle, car.id] }
                    %>
        <%= f.input :actual_reward_ids,
                    label: "Strategic Points",
                    as: :check_boxes,
                    input_html: {
                      class: "tag-selector",
                      },
                    item_wrapper_class: 'tag-item' ,
                    collection: StrategicPoint.all.map { |sp| [sp.address, sp.id] }
                    %>
        <%= f.input :start_point,
            as: :string,
            placeholder: "Start Point",
            label: "Departure"%>
        <%= f.input :end_point,
            as: :string,
            placeholder: "End Point",
            label: "Destination"%>
        <%= f.input :date,
                    as: :string,
                    label: "Travel date",
                    placeholder: "YYYY-MM-DD",
                    input_html: { data: { flatpickr_target: "date" } },
                    class: "text-white" %>
        <%= f.submit "Create a Trip", class: "btn btn-primary rounded-4" %>
      <% end %>
    </div>
  </div>
</div>
