<h1 class="title text-center">
        <span class="main-title">What's </span><span class="accent-title">next trip?</span>
      </h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-container">
        <%= form_with model: @trip, html: { class: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Trip Name",style: "color: #E9F6FF;" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Trip name" %>
          </div>

          <div class="form-group">
            <%= f.label :start_point, "Start Point",style: "color: #E9F6FF;" %>
            <%= f.text_field :start_point, class: "form-control", placeholder: "Departure" %>
          </div>

          <div class="form-group">
            <%= f.label :end_point, "End Point",style: "color: #E9F6FF;" %>
            <%= f.text_field :end_point, class: "form-control", placeholder: "Destionation" %>
          </div>

          <div class="form-group">
            <%= f.label :date, "Trip Date",style: "color: #E9F6FF;" %>
            <%= f.text_field :date, class: "form-control datepicker", placeholder: "Select a date" %>
          </div>
          <div class="text-center">
            <%= f.submit "Create a Trip", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 137%; height: 800px; position: relative;" data-controller="new-trip" data-new-trip-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div id="map" style="width: 100%; height: 100%;"></div>
        <div style="position: absolute; bottom: 10px; right: 10px; z-index: 9999;">
          <button type="button" class="btn btn-dark">Create a trip</button>
        </div>
      </div>
    </div>
  </div>
</div>
