<div class="feed"
    data-controller="feed-subscription"
    data-feed-subscription-feed-id-value="<%= @feed.id %>">

    <div class="feed-scroll-box">
      <h1><%= @feed.name %></h1>
      <div class="post-bar">
        <%= simple_form_for [@feed, @post],
            html: { data: { action: "turbo:submit-end->feed-subscription#resetForm" }, class: "d-flex" } do |f|%>
          <%= f.input :content :text,
              label: false,
              placeholder: "Post your trip!",
              wrapper_html: {class: "flex-grow-1"}
            %>
          <%= f.input :photo,
              label: false,
              as: :file
            %>
          <%= f.submit "Post", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>

    <div class="feed-scroll-box">
      <div class="posts"
      data-feed-subscription-target="posts">
        <% @posts.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
      </div>
    </div>

</div>
