<div class="container">
  <div class="my-4">
    <div>
      <h2>Account settings</h2>
    </div>
    <div class="d-flex">
      <div class=" m-4 px-4">
        <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, class: "rounded-circle" %>
        <% else %>
          <%= image_tag "user", height: 300, class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="w-100">
        <div data-controller="edit-account" data-edit-account-target="card" data-user-id="<%= @user.id %>">
          <%= render partial: 'user_infos', locals: { user: @user } %>
          <%= render partial: 'form', locals: { user: @user }%>
        </div>
      </div>
    </div>

    <div class="m-4">
      <!-- Title with New Car button -->
      <div class="d-flex justify-content-between">
        <h3 class="">
          My Cars
        </h3>
        <%= link_to "Add Car", new_user_car_path(@user) , class: "btn btn-primary rounded-4" %>
      </div>
      <hr>
      <!-- Display all the cars -->
      <div>
        <% @cars.each do |car|%>
          <%= render partial: 'cars/car_infos', locals: { car: car } %>
        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>
