

<% if user.level >= 8 && user.level < 9 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 7 && user.level < 8 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 6 && user.level < 7 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 5 && user.level < 6 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 4 && user.level < 5 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 3 && user.level < 4 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 2 && user.level < 3 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 1 && user.level < 2 %>
   <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% elsif user.level >= 0 && user.level < 1 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user} %>
  </div>
<% end %>
