<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand ms-4" do %>
      <%= image_tag "logo.png" %>
      <span class="text-white m-2">TRIPQUEST</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center text-white">
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to "Dashbord", "/", class: "nav-link" %>
          </li> |
          <li class="nav-item mx-2">
            <%= link_to "MyTrips", trips_path, class: "nav-link" %>
          </li> |
          <li class="nav-item mx-2">
            <%= link_to "MyFriends", feeds_path, class: "nav-link" %>
          </li> |
          <li class="nav-item mx-2">

            <%= link_to "JourneyCalculator", new_user_planned_route_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user&.photo.present? %>
              <%= cl_image_tag @user.photo.key, height: 40,
              width: 40, crop: :fill,
              class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag "user", class: "avatar" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Strategic points", "/strategic-points" , class: "dropdown-item" %>
              <%= link_to "Insurer tier list", insurers_path , class: "dropdown-item" %>
              <%= link_to "Planned roots", user_planned_routes_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Settings", user_path , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
