<% if user.level >= 8 && user.level < 9 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 7 && user.level < 8 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 6 && user.level < 7 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 5 && user.level < 6 %>
  <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 4 && user.level < 5 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 3 && user.level < 4 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 2 && user.level < 3 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 1 && user.level < 2 %>
   <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% elsif user.level >= 0 && user.level < 1 %>
 <div class="d-flex border bg-my-white p-2 m-2 rounded-4 align-items-center">
    <%= render partial: "shared/progress_bar", locals: { user: user } %>
  </div>
<% end %>


      <%# <% user.cars.each do |car| %>
        <%# <div class="my-2"> %>
        <%# <span class="fs-4 rounded-4 px-2 py-1 orange-pill"> %>
          <%# <i class="fa-regular fa-star fa-sm"> <%= car.total_car_reward %>
        <%# </span> %>
    <%# <% end %>

                <%# <p class="fs-3 my-1">
                  <%= trip.name %>
                <%# </p> %>
                <%# <p class="my-1"> %>
                  <%# <%= trip.date %>
                <%# </p> %>
                <%# <div class="my-2"> %>
                  <%# <% if trip.reward_point * 50 > 200 %>
                    <%# <div class="position-absolute badge bg-warning rounded-pill fs-6 p-2" style="height: fit-content;"> %>
                      <%# <%= trip.reward_point * 50 %>
                      <%# <i class="fa-solid fa-gem" style="margin: 2px;"></i> %>
                    <%# </div> %>
                  <%# <% else %>
                    <%# <div class="position-absolute badge bg-primary rounded-pill fs-6 p-2" style="height: fit-content;"> %>
                      <%# <%= trip.reward_point * 50 %>
                      <%# <i class="fa-solid fa-coins" style="margin: 2px;"></i> %>
                    <%# </div> %>
                  <%# <% end %>
                <%# </div> %>
<%#  %>
