<br>
<div data-controller="dashboard">
  <!-- Title -->
  <div>
    <h2><strong><span class="main-title">My</span><span class="accent-title">Dashboard</span></strong></h2>
  </div>
  <br>
  <!-- User Progress Bar -->
  <div class="row mx-2 my-4">
    <div class="col-12">
      <div class="h-100 d-flex p-4 bg-white rounded-4 shadow-lg align-items-center">
        <div class="d-flex">
        <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo.key, height: 80, width: 80, crop: :fill, class: "rounded-circle mx-2 my-2" %>
        <% else %>
          <%= image_tag "user.png", height: 40, class: "rounded-circle" %>
        <% end %>
        </div>
        <%# 1 star next to the name - level %>
        <div class="d-flex flex-column w-100">
          <div class="fs-6 mx-2 my-2 d-flex justify-content-between">
            <strong><%= @user.first_name %> <%= @user.last_name %></strong>
            <strong><i class="fa-solid fa-star fa-lg mx-1 my-2"></i> Level <%= @user.total_rewards / 1000 %></strong>
          </div>
          <div class="progress d-flex rounded-4 mx-2 my-2 w-100" role="progressbar" aria-label="Current User Progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
          <div class="progress-bar progress-bar-striped bg-warning" style="width: 25%"><p><strong><i class="fa-solid fa-coins" style="margin: 2px;"></i> <%= @user.total_rewards %></strong></p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trips and leaderboard -->
  <div class="row mx-2 my-4">
    <!-- My trips -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3>My<strong>Trips</strong></h3>
        <% @trips.each do |trip| %>
          <%# <div class="trip d-flex border bg-my-white p-4 m-2 rounded-4 justify-content-between"> %>
            <%# <div class="d-flex flex-grow-1 justify-content-between align-items-center"> %>
              <div class="fs-6 border bg-my-white p-4 m-2 rounded-4">
                <%= link_to trip_path(trip), data: { turbo_frame: "modal"} do  %>
                  <%= render partial: "trips/trip", locals: { trip: trip }  %>
                <% end %>
              </div>
            <%# </div> %>
          <%# </div> %>
        <% end %>
      </div>
    </div>
    <!-- Leaderboard -->
    <div class="col-5">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3><strong>Leaderboard</strong></h3>
        <% @users.first(3).each do |user| %>
          <%= render partial: "leaderboard", locals: { user: user } %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Cars and Empty grid space -->
  <div class="row mx-2 my-4">
    <!-- My cars -->
    <div class="col-5">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3>My<strong>Cars</strong></h3>
          <% @cars.each do |car| %>
            <%= link_to account_path(:id) do %>
              <div class="d-flex border bg-my-white p-4 m-2 rounded-4 justify-content-center">
                <div class="position-relative" >
                  <% if car.photo.present? %>
                    <%= cl_image_tag car.photo.key,
                          width: 350, crop: :fill, class: "rounded-4"
                    %>
                  <% else %>
                    <%= image_tag "car.jpg", style: 'object-fit: cover;',
                          width: '100%',
                          class: "rounded-4";
                      %>
                  <% end %>
                  <% if car.total_car_reward * 50 > 1000 %>
                  <div class="position-absolute top-0 start-0 translate-middle badge bg-warning rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <%= car.total_car_reward * 50 %>
                    <i class="fa-solid fa-gem" style="margin: 2px;"></i>
                  </div>
                <% else %>
                  <div class="position-absolute top-0 start-0 translate-middle badge bg-primary rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <%= car.total_car_reward * 50 %>
                    <i class="fa-solid fa-coins" style="margin: 2px;"></i>
                  </div>
                <% end %>
                </div>
              </div>
              <%# <%= pie_chart(
                [[car.vehicle, car.total_car_reward],
                ["Remaining", (@next_level - car.total_car_reward)]],
                # suffix: "%",
                colors: ["#fba834", "#280274"],
                donut: true )
              %>
            <% end %>
          <% end %>
      </div>
    </div>
    <!-- TBC -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
      </div>
    </div>
  </div>
</div>
