<br>
<div class="info-only" data-controller="dashboard">
  <!-- Title -->
  <div class="mb-4">
    <h2><strong><span class="main-title">My</span><span class="accent-title">Dashboard</span></strong></h2>
  </div>

  <!-- User Progress Bar -->
  <div class="row my-4">
    <div class="col-12">
      <div class="h-100 d-flex p-4 bg-white rounded-4 shadow-lg align-items-center">
        <div class="d-flex">
        <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo.key, height: 80, width: 80, crop: :fill, class: "rounded-circle mx-2 my-2" %>
        <% else %>
          <%= image_tag "user.png", height: 40, class: "rounded-circle" %>
        <% end %>
        </div>
        <%# 1 star next to the name - level %>
        <div class="d-flex flex-column w-100">
          <div class="fs-6 mx-2 my-2 d-flex justify-content-between">
            <strong><%= @user.first_name %> <%= @user.last_name %></strong>
            <strong><i class="fa-solid fa-star fa-lg mx-1 my-2"></i> Level <%= @user.level %></strong>
          </div>
          <div class="progress d-flex rounded-4 mx-2 my-2 w-100"  style="height: 40px">
            <div class="progress-bar bg-warning" role="progressbar" style="width: <%=@user.calculate_points_to_next_level.round%>%" aria-valuenow="<%=@user.calculate_points_to_next_level.round%>" aria-valuemin="0" aria-valuemax="100"><p class="fs-5"><strong><i class="fa-solid fa-coins fa-lg" style="margin: 2px;"></i> <%=@user.total_rewards%></strong></p></div>
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=100 - @user.calculate_points_to_next_level.round%>%" aria-valuenow="<%=100 - @user.calculate_points_to_next_level.round%>" aria-valuemin="0" aria-valuemax="100"><p><strong></p></strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trips and leaderboard -->
  <div class="row my-4">
    <!-- My trips -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <%= link_to trips_path do %>
          <h3>My<strong>Trips</strong></h3>
        <% end %>
        <table class="table table-hover mt-4">
          <tbody>
          <% @trips.first(5).each do |trip| %>
            <%= render partial: 'trips/trip', locals: { trip: trip } %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Leaderboard -->
    <div class="col-5">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3><strong>Leaderboard</strong></h3>
        <%= link_to feed_path(Feed.find_by(name: "TripQuesters").id) do %>
        <% @users.first(3).each_with_index do |user, index| %>
          <%= render partial: "shared/progress_bar", locals: { user: user, index: index } %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Cars and Graphs -->
  <div class="row my-4">
    <!-- My cars -->
    <div class="col-5">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3>My<strong>Cars</strong></h3>
          <% @cars.each do |car| %>
            <%= link_to account_path(:id) do %>
              <div class="d-flex p-4 m-2 rounded-4">
                <div class="position-relative w-100" >
                  <% if car.photo.present? %>
                    <%= cl_image_tag car.photo.key, :transformation =>
                    { dpr: :auto, responsive: :true, width: :auto, crop: :scale},
                          # width: auto, crop: :fill, max-height: 100%;
                          class: "rounded-4", style:"object-fit: cover;max-width: 100%;max-height: 100%;"
                    %>
                  <% else %>
                    <%= image_tag "car.jpg", style: 'object-fit: cover;',
                          width: '100%',
                          class: "rounded-4";
                      %>
                  <% end %>
                  <% if car.total_car_reward > 1000 %>
                  <div class="position-absolute top-0 start-0 translate-middle badge bg-warning rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <strong><i class="fa-solid fa-gem fa-lg mx-1 my-2"></i><%= car.total_car_reward %></strong>
                  </div>
                <% else %>
                  <div class="position-absolute top-0 start-0 translate-middle badge bg-primary rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <strong><i class="fa-solid fa-coins fa-lg mx-1 my-2"></i><%= car.total_car_reward %></strong>
                  </div>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
    <!-- Chart -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3>My<strong>Charts</strong></h3>
        <%# <%= column_chart(@chart, colors: ["#fba834", "#280274"] ) %>
        <div class="text-center my-2"><strong>My weekly trips</strong>
          <%= area_chart current_user.trips.group_by_week(:date).count, colors: ["#fba834", "#280274"] %>
        </div>
       <div class="text-center my-2"><strong>My monthly points</strong>
          <%= column_chart(current_user.trips.group_by_month(:date, format:"%b" ).sum(:reward_point), colors: ["#fba834", "#280274"] ) %>
        </div>
      </div>
    </div>
  </div>
</div>
