<div class="container">
<div class="display-flex">
    <div class="flex-container">
      <div class="side-bar-left">
        <div class="text-center">
        <h2><strong><span class="main-title">MY</span><span class="accent-title">DASHBOARD</span></strong></h2>
        </div>
      <% @cars.each do |car| %>
        <div class="semi-circle">
          <div class="center-content">
              <h2><%= car.vehicle %></h2>
              <h3><%= car.total_car_reward %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="side-bar-right">
  <div class="text-center">
      <h2><strong><span class="accent-title">MOST RECENT TRIPS</span></strong></h2>
      </div>
    <% @trips.each do |trip| %>
      <div class="trip my-2 d-flex align-items-center">
        <h3 class="tripname mr-3">
          <%= trip.name %>
        </h3>
        <div class="reward-info mr-3">
          <h5>reward: </h5>
          <%= trip.reward_point %>
        </div>
        <%= trip.date %>
      </div>
    <% end %>
    </div>
  </div>
</div>
