<div class="container">
<div class="display-flex">
    <div class="flex-container">
      <div class="side-bar-left">
        <div class="text-center">
        <h2><strong><span class="main-title">MY</span><span class="accent-title">DASHBOARD</span></strong></h2>
        </div>
      <% @cars.each do |car| %>
        <div class="semi-circle">
          <div class="center-content">
               <%= link_to account_path(:id) do %>
               <h2><strong><span class="accent-title"><%= car.vehicle %></span></strong></h2>
              <% end %>
              <span class="fs-3 mx-3 rounded-4 px-2 py-1 orange-pill"><%= car.total_car_reward %></span>
             </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="side-bar-right">
  <div class="text-center">
      <h2><strong><span class="accent-title">MOST RECENT TRIPS</span></strong></h2>
      </div>
        <div class= "list">
        <% @trips.each do |trip| %>
        <%= render partial: 'trips/trip_info', locals: { trip: trip } %>
      <% end %>
      </div>
    </div>
</div>
</div>

<%# <div class="side-bar-right-center">
  <div class="text-center">
      <h2><strong><span class="accent-title">LEADERBOARD</span></strong></h2>
      </div>
      <%= render partial: 'pages/leaderboard'%>
<%#</div> %>
