<br>
<div data-controller="dashboard">
  <!-- Title -->
  <div>
    <h2><strong><span class="main-title">My</span><span class="accent-title">Dashboard</span></strong></h2>
  </div>
  <br>
  <!-- Progress Bar -->
  <div class="row mx-2 my-4">
    <div class="col-12">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <%# 1 star next to the name - level %>
        <%# user picture %>
        <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <%# coin picture %><div class="progress-bar progress-bar-striped bg-warning" style="width: 25%">25%</div>
      </div>
      </div>
    </div>
  </div>
  <!-- Trips and leaderboard -->
  <div class="row mx-2 my-4">
    <!-- My trips -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3>My<strong>Trips</strong></h3>
        <% @trips.each do |trip| %>
          <%# <div class="trip d-flex border bg-my-white p-4 m-2 rounded-4 justify-content-between"> %>
            <%# <div class="d-flex flex-grow-1 justify-content-between align-items-center"> %>
              <div class="fs-6 border bg-my-white p-4 m-2 rounded-4">
                <%= link_to trip_path(trip), data: { turbo_frame: "modal"} do  %>
                  <%= render partial: "trips/trip", locals: { trip: trip }  %>
                <% end %>
              </div>
            <%# </div> %>
          <%# </div> %>
        <% end %>
      </div>
    </div>
    <!-- Leaderboard -->
    <div class="col-5">
      <div class="position-relative p-4 bg-white rounded-4 shadow-lg">
        <h3 class="text-center">tQ<strong>Leaderboard</strong></h3>
        <% @users.first(3).each do |user| %>
          <%= render partial: "leaderboard", locals: { user: user } %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Cars and Empty grid space -->
  <div class="row mx-2 my-4">
    <!-- My cars -->
    <div class="col-7">
      <div class="h-100 p-4 bg-white rounded-4 shadow-lg">
        <h3 class="text-center">My<strong>Cars</strong></h3>
          <% @cars.each do |car| %>
            <%= link_to account_path(:id) do %>
              <div class="position-relative d-flex border bg-my-white p-4 m-2 rounded-4 justify-content-between">
                <% if car.photo.present? %>
                  <%= cl_image_tag car.photo.key, height: 100,
                        width: 100, crop: :fill, class: "rounded-4"
                  %>
                <% else %>
                  <%= image_tag "car.jpg", style: 'object-fit: cover;',
                        width: '100%',
                        class: "rounded-4";
                    %>
                <% end %>
                <% if car.total_car_reward * 50 > 1000 %>
                  <div class="position-absolute badge bg-warning rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <%= car.total_car_reward * 50 %>
                    <i class="fa-solid fa-gem" style="margin: 2px;"></i>
                  </div>
                <% else %>
                  <div class="position-absolute badge bg-primary rounded-pill fs-6 m-2 p-2" style="height: fit-content;">
                    <%= car.total_car_reward * 50 %>
                    <i class="fa-solid fa-coins" style="margin: 2px;"></i>
                  </div>
                <% end %>
              </div>
              <%# <%= pie_chart(
                [[car.vehicle, car.total_car_reward],
                ["Remaining", (@next_level - car.total_car_reward)]],
                # suffix: "%",
                colors: ["#fba834", "#280274"],
                donut: true )
              %>
            <% end %>
          <% end %>
      </div>
    </div>
    <!-- TBC -->
    <div class="col-5">
    </div>
  </div>
</div>
