<br>
<div class="text-center">
  <h2><strong><span class="main-title">MY</span><span class="accent-title">DASHBOARD</span></strong></h2>
</div>
<br>
<br><div class="row">
  <div class="col-4">
    <div class="position-relative p-4 bg-white rounded-4 shadow-lg">
    <% @cars.each do |car| %>
      <%= link_to account_path(:id) do %>
      <%= pie_chart(
        [[car.vehicle, car.total_car_reward],
        ["Remaining", (@next_level - car.total_car_reward)]],
        # suffix: "%",
        colors: ["#fba834", "#280274"],
        donut: true )
      %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="col-6">
    <div class="position-relative p-4 bg-white rounded-4 shadow-lg">
      <% @trips.each do |trip| %>
      <div class="trip d-flex border bg-my-white p-4 m-2 rounded-4 justify-content-between">
        <div class="d-flex flex-grow-1 justify-content-between align-items-center">
          <div class="">
            <p class="fs-3 my-1">
              <%= trip.name %>
            </p>
            <p class="my-1">
              <%= trip.date %>
            </p>
          <div class="my-2">
            <span class="fs-4 rounded-4 px-2 py-1 orange-pill">
              <i class="fa-regular fa-star fa-sm"> <%= trip.reward_point %> </i>
            </span>
          </div>
          </div>
          <% if trip.photo.present? %>
            <%= cl_image_tag trip.photo.key,
                width: '200px',
                class: "rounded-4";
            %>
          <% else %>
            <%=%>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-2">
    <div class="position-relative p-4 bg-white rounded-4 shadow-lg">
      <%= render partial: "leaderboard", locals: { users: @users } %>
    </div>
  </div>
</div>
