<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <div class="title-container d-flex justify-content-center">
        <h2><strong><span class="main-title">Reward</span><span class="accent-title"> Level</span></strong></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>Welcome to the TripQuest level system! As you progress through these levels, you unlock access to increasingly larger discounts on your insurance policy!🏆</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="mt-3"><strong>How is the cost of your car insurance policy calculated?</strong></h4>
      <h4 class="mb-3 mt-3" style="line-height: 1.5;">
        The cost of the insurance premium is largely determined by the insured's risk profile.
        By reducing the speed in the rewards zones you will be able to save up on your car insurance.
        Thanks to TripQuest, users can <strong>save up to 21%</strong> on their car policy.
        On average, users take 9 months to reach level 3!
      </h4>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <table class="table table-bordered mx-4 rounded custom-table">
    <thead class="thead-dark">
      <tr>
        <th class="bg-white">Level</th>
        <th class="bg-white">Rewards Required</th>
        <th class="bg-white">Discount</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'insurer'%>
    </tbody>
  </table>
</div>

<!--<hr style="border-top: 2px solid #3652AD; margin: 20px 0;">
-->
<div class="logos shadow-lg py-1 mt-4 mb-4" style="border-radius: 12px; background-color: #fff;">
  <!--<div class="pt-4 d-flex justify-content-center" style="border-radius: 12px; background-color: #fff;">
    <h2><strong><span class="main-title">OUR</span><span class="accent-title"> PARTNERS</span></strong></h2>
  </div>-->

  <div class="pt-4 d-flex justify-content-center">
      <h2><strong><span class="main-title">OUR</span><span class="accent-title"> PARTNERS</span></strong></h2>
  </div>



  <div class="d-flex justify-content-around py-4 align-items-center insurer-logos">
    <%= image_tag "medibank-logo.png", alt: "Medibank" %>
    <%= image_tag "ahm-logo.png", alt: "ahm", style: "width: 50px;"%>
    <%= image_tag "allianz insurance.png", alt: "allianz insurance" %>
    <%= image_tag "australian-seniors.png", alt: "australian seniors" %>
    <%= image_tag "awn.png", alt: "awn" %>
    <%= image_tag "budget-direct.png", alt: "budget-direct" %>
  </div>
  <div class="d-flex justify-content-around py-4 align-items-center insurer-logos">
    <%= image_tag "kogan.png", alt: "kogan" %>
    <%= image_tag "oceania-insurance.png", alt: "oceania-insurance" %>
    <%= image_tag "racq.png", alt: "racq" %>
    <%= image_tag "youi.png", alt: "youi" %>
    <%= image_tag "bupa-logo.png", alt: "youi", style: "width: 50px;" %>
    <%= image_tag "suncorp-logo.png", alt: "youi" %>
  </div>
</div>


<!--<hr style="border-top: 2px solid #3652AD; margin: 20px 0;">
-->
<div class="shadow-lg mt-2 data" style="background-color: rgba(251, 168, 52, 0.5); padding: 20px;">
  <div class="d-flex justify-content-center">
    <div class="tripquest numbers mb-4">
        <h2><strong><span class="main-title">TRIPQUEST</span><span class="accent-title"> NUMBERS</span></strong></h2>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="flex-container">

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">-34%</h3>
          <h5 class="card-title mb-3">Car Accidents</h5>
          <p class="card-text" style="font-size: 14px;">Car accidents have decreased by 34%</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">8%</h3>
          <h5 class="card-title mb-3">Saved on premiums</h5>
          <p class="card-text" style="font-size: 14px;">Over 27k users have saved up to 8%</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
          <h3 class="card-title mb-2">2 Million</h3>
          <h5 class="card-title mb-3">Users</h5>
          <p class="card-text" style="font-size: 14px;">60k active users per month</p>
        </div>
      </div>

      <div class="card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
        <div class="card-body h-100">
        <div class="increment-scale">
          <h3 class="card-title mb-2">3,275</h3>
          </div>
          <h5 class="card-title mb-3">Reward Stops</h5>
          <p class="card-text" style="font-size: 14px;"> Every week new rewards zones </p>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="mb-3 mt-4">
        <h3>Trusted by 4.6/5 <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></h3>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="mb-3 mt-4">
      <%= image_tag "logo.png", size: "100x100" %>
    </div>
  </div>

</div>
