<br>
<div class="container px-2">
  <div class="row mb-4">
    <div class="col-12">
      <div class="">
        <h2><strong><span class="main-title">TripQuest</span><span class="accent-title"> Insurance</span></strong></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 fs-6 mb-4">
      <strong>Welcome to TripQuest Insurance!</strong>
    </div>
    <div class="col-12 fs-6">
      Our insurance partners provide users with discounts on your insurance premium based on your TripQuest level.
      As you progress through the levels, you unlock access to bigger discounts on your insurance!🏆

    </div>
  </div>
<br>
  <div class="row">
    <div class="col-12 fs-6">
      <strong>How is the cost of your car insurance policy calculated?</strong>
      <p class="mb-3 mt-3" style="line-height: 1.5;">
        The cost of the insurance premium is determined by your risk profile.
        By reducing speed in the TripQuest rewards zones you will be able to earn points and when you have enough points to level up, you will be offered discounts on your car insurance.
        Thanks to TripQuest, users can <strong>save up to 21%</strong> on their car policy.
      </p>
    </div>
  </div>
</div>


<div class="d-flex p-4 bg-white rounded-4 shadow-lg align-items-center">
  <table class="table">
    <thead class="thead">
      <tr>
        <th class="bg-white"><p style="color: #575E60;">Level</p></th>
        <th class="bg-white"><p style="color: #575E60;">Rewards Required</p></th>
        <th class="bg-white"><p style="color: #575E60;">Discount</p></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'insurer'%>
    </tbody>
  </table>
</div>

<br>
<br>
<!--Partner logos -->
<div class="d-flex">
    <h2><strong><span class="main-title">Our</span><span class="accent-title"> Partners</span></strong></h2>
</div>
<div class="logos shadow-lg py-1" style="border-radius: 12px; background-color: #fff;">
  <div class="d-flex justify-content-around py-4 align-items-center insurer-logos">
    <%= image_tag "medibank-logo.png", alt: "Medibank" %>
    <%= image_tag "ahm-logo.png", alt: "ahm", style: "width: 50px;"%>
    <%= image_tag "allianz insurance.png", alt: "allianz insurance" %>
    <%= image_tag "australian-seniors.png", alt: "australian seniors" %>
    <%= image_tag "awn.png", alt: "awn" %>
    <%= image_tag "budget-direct.png", alt: "budget-direct" %>
  </div>
  <div class="d-flex justify-content-around py-4 align-items-center insurer-logos">
    <%= image_tag "kogan.png", alt: "kogan" %>
    <%= image_tag "oceania-insurance.png", alt: "oceania-insurance" %>
    <%= image_tag "racq.png", alt: "racq" %>
    <%= image_tag "youi.png", alt: "youi" %>
    <%= image_tag "bupa-logo.png", alt: "youi", style: "width: 50px;" %>
    <%= image_tag "suncorp-logo.png", alt: "youi" %>
  </div>
</div>

<br>
<br>
<!--Stats-->
<div class="d-flex">
  <div class="">
     <h2><strong><span class="main-title">Our</span><span class="accent-title"> Stats</span></strong></h2>
  </div>
</div>
<div class="shadow-lg p-4 mt-2 data" style="background-color: rgba(251, 168, 52, 0.5); padding: 20px;">

  <div class="d-flex m-4 justify-content-center">
    <div class="flex-container">
      <div class="row">
        <div class="col-3">
          <div class="h-100 card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
            <div class="card-body justify-content-center">
              <h3 class="card-title mb-2">-34%</h3>
              <h5 class="card-title mb-3">Car Accidents</h5>
              <p class="card-text" style="font-size: xx-small;">*within TripQiest reward zones</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="h-100 card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
            <div class="card-body justify-content-center">
              <h3 class="card-title mb-2">8%</h3>
              <h5 class="text-center card-title mb-3">Saved on user insurance premiums</h5>
              <p class="card-text" style="font-size: xx-small;">*average saving over 12 months</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="h-100 card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
            <div class="card-body justify-content-center">
              <h3 class="card-title mb-2">2 Million Users</h3>
              <h5 class="text-center card-title mb-3">60k active users per month</h5>
              <p class="card-text" style="font-size: xx-small;"></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="h-100 card text-light bg-primary mb-3 mx-3" style="border-radius: 12px;">
            <div class="card-body justify-content-center">
              <div class="increment-scale">
                <h3 class="card-title mb-2">3,000</h3>
              </div>
              <h5 class="card-title mb-3">Active Reward Zones</h5>
              <p class="card-text" style="font-size: xx-small;">New zones added weekly</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
     <div class="">
      <%= image_tag "logo.png", size: "80x80", class: "my-2 mx-2"%>
    </div>
    <div class="mb-3 mt-4">
        <h3> <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></h3>
        <p class="text-center" style="color:#575E60;font-size:small;">Trust Score <strong>4.6</strong> | <strong><a href="#"> 53,175 reviews</a></strong></p>
   </div>
  </div>

  <div class="d-flex justify-content-center">

  </div>

</div>
<br>
