<div id="post-<%= post.id %>">
  <div class="post-card">
      <% if post.photo.present? %>
        <%= cl_image_tag post.photo.key, height: 400, width: 500, crop: :fill %>
      <% end %>
      <small>
        <strong><%= post.user.first_name %></strong>
        <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= post.content %></p>
   </div>
</div>
