<div id="post-<%= post.id %>">
  <div class="post-card">
      <% if post.photo.present? %>
        <%= cl_image_tag(post.photo.key, crop: :fill, :transformation=>[{:crop=>"auto"}, {radius: 24}]) %>
      <% end %>
      <div class="content-text">
      <small>
        <strong><%= post.user.first_name %></strong>
        <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
      <p><%= post.content %></p>
      </div>
   </div>
</div>
