
<h2>Edit your <%= @car.vehicle %></h2>
<%=  simple_form_for [@user, @car] do |f| %>
  <%= f.input :vehicle %>
  <%= f.input :transmission %>
  <%= f.input :color %>
  <%= f.input :year %>
  <%= f.input :kilometers %>
  <%= f.input :price %>
  <%= f.input :insurer_id do %>
    <%= f.collection_select :insurer_id, Insurer.order(:min_threshold), :id ,lambda { |insurer| "#{insurer.min_threshold}-#{insurer.name}" }, { prompt: "Select a Insurer" }, { class: "form-control" } %>
  <% end %>
  <%= f.button :submit, 'Update Car', class: 'btn btn-primary' %>
<% end %>
